<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <div class="sign-up-link">
            <p>Don't have an account? <a href="/sign-up">Sign-Up here</a></p>
        </div>
    </div>
</body>
</html>
